/* reset CSS */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
  
    outline: none;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
}

/* body and main */

@font-face {
    font-family: "Norse-Bold";
    src: url("./ressources/Norse-Bold.otf");
}

body * {
    display: flex;
}

main>div {
    flex-direction: column;
    height: 100vh;
}

/* left side of the page */

.left-container {
    background-image: url("./ressources/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex: 3;
    justify-content: space-evenly;
}

.left-container * {
    color: white;
}

.logo-container {
    background-color: #00000080;
    height: 20%;
    padding: 1rem;
    font-family: Norse-Bold;
    font-size: 8rem;
}

.credits-container {
    position: relative;
    bottom: -15rem;
    align-self: center;
}

.credits-container * {
    display: inline;
}

/* right side of the page */

.right-container {
    flex: 5;
    justify-content: center;
    gap: 2rem;
}

.right-container div {
    margin-left: 2rem;
    max-width: 70ch;
}

.large {
    font-size: 1.5rem;
}

fieldset {
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: white;
    border: 0;
    box-shadow: 0rem 0rem 0.5rem lightgray;
    width: 100%;
}

.legend {
    flex-basis: 100%;
    padding-bottom: 2rem;
}

.fields {
    flex-wrap: wrap;
    gap: 2rem;
}

.form {
    flex-direction: column;
    text-transform: uppercase;
}

.form input {
    border-radius: 0.5rem;
    border: 1px solid #E5E7EB;
    height: 2rem;
    width: 15rem;
}

.form input:invalid {
    border: 1px solid darkred;
}

.form input:focus {
    border: 1px solid darkblue;
    box-shadow: 0rem 0rem 0.5rem lightgray;
}

.create-account input {
    background-color: #596D48;
    color: white;
    border-radius: 0.5rem;
    padding: 0.8rem 3rem;
    font-weight: bold;
}

.already-account * {
    display: inline;
    color: black;
}